html {
    height: 100%;
    width: 100%;
  }

  body {
    border: 2px solid darkslategray;
  }
  
  #navbar-example2 {
    background-color: darkgray;
    border: 1px solid darkslategray;
  }
  
  a.nav-link {
    color: #3f5564;
  }

  .main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("./abc.png");
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;    
  }
